/*Add display grid to wrapper class and define width of columns*/
.wrapper {
  display: grid;
  grid-template-columns: 70% 30%;
  /*Seperate columns*/
  /*grid-column-gap: 1em;
  /*Seperate rows*/
  /*grid-row-gap: 1em;*/

  /*If using grid columan and row gaps, use this*/
  grid-gap: 1em;

}


/*Color & give space to all divs inside the wrapper*/
.wrapper > div {
  background: #eee;
  padding: 1em;
}

/*Color every other div in the wrapper*/
.wrapper > div:nth-child(odd) {
  background: #ddd;
}
