.wrapper {
 display: grid;
 grid-template-columns: 1fr 2fr 1fr;
 grid-auto-rows: minmax(100px, auto);
 grid-gap: 1em;

 /*Align items horizontally with justify-items*/

 /*Puts element at start of column*/
 /*justify-items: start;*/
 /*justify-items: center;
 justify-items: end;*/
 /*Default*/
 /*justify-items: stretch;*/

 /*Align items vertically with align-items: */
 /*align-items: start;*/
 /*align-items: center;
 align-items: end;*/
 Default
 /*align-items: stretch;*/
}

/*Can align individual items*/
.box1 {
  /*align-self: start;*/

  /*Have a column span to another column (starting column line to ending column line)*/
  /*Expand box horizontally*/
  grid-column: 1/3;
  /*Expand box veritically*/
  grid-row: 1/3;
}

.box2 {
  /*align-self: end;*/
  /*Keep column in position where line is*/
  grid-column: 3;
  grid-row:1/3;
}

.box3 {
  /*justify-self: end;*/
  grid-column: 2/4;
  grid-row:3;
}

.box4 {
  /*justify-self: start;*/
  /*Add overlapping*/
  grid-column: 1;
  grid-row: 2/4;
  border: 1px solid black;
}



.wrapper > div {
  background: #eee;
  padding: 1em;
}

/*Color every other div in the wrapper*/
.wrapper > div:nth-child(odd) {
  background: #ddd;
}
